@use "../../../shared/styles/abstracts/mixins/mixins" as *;
@use "../../../shared/styles/base/colors/colors" as color;
@use "../../../shared/styles/base/globals/globals" as size;
@use "../../../shared/styles/abstracts/breakpoints/breakpoints" as *;

.signInFormBlock {
  width: 100%;

  &Container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2.0625rem;
    background: color.$color-white-primary;
    box-shadow: color.$shadow-box-light;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 7.1875rem 0 12.75rem 0;
  }

  & .signInForm {
    width: 100%;
    max-width: 25.1875rem;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.625rem;
  }

  &Title {
    font-weight: 700;
    color: color.$color-black-deep;
    font-size: size.$font-size-2xl;
  }

  &InputContainer {
    @include label;
    height: 6.125rem;
    position: relative;
  }

  &Input {
    @include input;
    @include inputHover;
  }

  &ViewIcon {
    position: absolute;
    bottom: 1.9375rem;
    right: 1.125rem;
  }

  &Label {
    @include selectLabel;
  }

  &Remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &RememberContainer {
    display: flex;
    align-items: center;
    gap: 0.875rem;
    flex-flow: row-reverse nowrap;
  }

  &RememberLabel {
    @include rememberLabel;
  }

  &RememberCheckbox {
    @include customCheckBox;
  }

  &ForgotButton {
    background: inherit;

    & > a {
      @include rememberLabel;
    }
  }

  &Submit {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1.25rem;
    margin-block-start: 3.0625rem;
  }

  &Button {
    @include Button;
    position: static;
    max-width: 10.625rem;
    &:disabled {
      @include disabledButton;
    }
  }

  &Account {
    @include accountButton;
    & > a {
      color: color.$background-support-primary;
      font-weight: 600;
      transition: color 0.5s ease-in-out 0s;
      &:hover {
        color: color.$background-support-hover;
      }

      &:active {
        color: color.$background-support-active;
      }
    }
  }
}

@include respond-toWidth(large-medium) {
  .signInFormBlockRememberCheckbox {
    @include checkboxInput(1.3125rem, 1.3125rem);

    &:checked {
      &::after {
        content: "";
        width: 0.40625rem;
        height: 0.8125rem;
      }
    }
  }

  .signInFormBlockContainer {
    padding-block-start: 4.0625rem;
  }

  .signInFormBlock {
    &ViewIcon {
      bottom: 1.7575rem;
    }
  }
}

@include respond-toWidth(medium) {
  .signInFormBlockContainer {
    padding: 4.0625rem 0 6.5rem 0;
  }
}
