@use '../../../styles/abstracts/mixins/mixins' as *;
@use '../../../styles/base/colors/colors' as color;
@use '../../../styles/base/globals/globals' as size;

.projects {
  width: 100%;
  max-width: 48.8125rem;

  &Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  &Items {
    display: flex;
    flex-direction: column;
    gap: 1.3125rem;
  }

  &Item {
    @include whiteContainer(100%);
    min-height: 9.25rem;
  }
}
