@use '../../../styles/abstracts/mixins/mixins' as *;
@use '../../../styles/base/globals/globals' as size;
@use '../../../styles/base/colors/colors' as color;

.attachedStream {
  width: 100%;
  &Container {
    @include updatedContainer;
    min-height: 3.375rem;
  }

  &Icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
    object-fit: cover;
  }

  &Title {
    @include updatedTitle;
  }
}
