@use '../../../styles/abstracts/mixins/mixins' as *;
@use '../../../styles/base/colors/colors' as color;

.bodyWrapper {
  display: flex;
  gap: 1.875rem;
  width: 100%;
  @include BoundingBox;
  background: color.$background-main-light;
  padding: 1.25rem 1.25rem 1.5625rem 1.25rem;
  min-height: 100vh;
}
