@use '../../../styles/abstracts/mixins/mixins' as *;
@use '../../../styles/base/globals/globals' as size;
@use '../../../styles/base/colors/colors' as color;

.updatedStream {
  width: 100%;

  &Container {
    @include updatedContainer;
    align-items: flex-start;
  }

  &Icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
    object-fit: cover;
  }

  &Title {
    @include updatedTitle;
  }
}
