$color-white-primary: #fff;
$color-gray-neutral: #7d8592;
$shadow-box-light: 0 6px 58px 0 rgba(196, 203, 214, 0.1);
$background-main-light: #f4f9fd;
$background-support-primary: #3f8cff;
$shadow-box-support: 0 6px 12px 0 rgba(63, 140, 255, 0.26);
$color-black-deep: #0a1629;
$color-gray-light: #e6edf5;
$border-image-light: rgba(125, 133, 146, 0.2);
$color-accent-purple: #de92eb;
$color-accent-yellow: #fdc748;
$color-accent-blue: #6d5dd3;
$color-gray-secondary: #91929e;
$background-modal-overlay: rgba(33, 85, 163, 0.16);
$shadow-modal: 0 1px 2px 0 rgba(184, 200, 224, 0.22);
$background-modal-light: #d8e0f0;
$color-priority-medium: #ffbd21;
$color-priority-low: #0ac947;
$color-alert-error: #ff5630;
$border-light: #e4e6e8;
$background-status-done: #e0f9f2;
$color-status-done: #00d097;
$background-status-in-progress: rgba(63, 140, 255, 0.12);
$background-status-todo: rgba(125, 133, 146, 0.14);
$background-status-in-preview: rgba(196, 24, 230, 0.11);
$color-status-preview: #c418e6;
$color-loader-primary: #3498db;
$border-loader: rgba(0, 0, 0, 0.1);
$border-neutral: #e6ebf5;
$background-switcher: #ced5e0;
$color-status-success: #38cb89;
