$breakpoint-large: 1440px;
$breakpoint-large-medium: 1200px;
$breakpoint-medium: 1024px;
$breakpoint-small: 768px;
$breakpoint-extra-small: 600px;
$breakpoint-extra-extra-small: 400px;

@mixin respond-toWidth($breakpoint) {
  @if $breakpoint == large {
    @media (max-width: calc(#{$breakpoint-large} - 1px)) {
      @content;
    }
  } @else if $breakpoint == large-medium {
    @media (max-width: calc(#{$breakpoint-large-medium} - 1px)) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (max-width: $breakpoint-medium) {
      @content;
    }
  } @else if $breakpoint == small {
    @media (max-width: $breakpoint-small) {
      @content;
    }
  } @else if $breakpoint == extra-small {
    @media (max-width: $breakpoint-extra-small) {
      @content;
    }
  } @else if $breakpoint == extra-extra-small {
    @media (max-width: $breakpoint-extra-extra-small) {
      @content;
    }
  }
}

$breakpoint-height-large: 1440px;
$breakpoint-height-medium: 995px;
$breakpoint-height-small: 768px;
$breakpoint-height-extra-small: 600px;
$breakpoint-height-extra-extra-small: 400px;

@mixin respond-toHeight($breakpoint) {
  @if $breakpoint == height-large {
    @media (max-height: $breakpoint-height-large) {
      @content;
    }
  } @else if $breakpoint == height-medium {
    @media (max-height: $breakpoint-height-medium) {
      @content;
    }
  } @else if $breakpoint == height-small {
    @media (max-height: $breakpoint-height-small) {
      @content;
    }
  } @else if $breakpoint == height-extra-small {
    @media (max-height: $breakpoint-height-extra-small) {
      @content;
    }
  } @else if $breakpoint == height-extra-extra-small {
    @media (max-height: $breakpoint-height-extra-extra-small) {
      @content;
    }
  }
}
