@use '../../../styles/abstracts/mixins/mixins' as *;
@use '../../../styles/abstracts/breakpoints/breakpoints' as *;
@use '../../../styles/base/colors/colors' as color;
@use '../../../styles/base/globals/globals' as size;

.infoPortalMain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.875rem;

  &Container {
    width: 100%;
  }

  &Banner {
    @include infoPortalBanner(53.4375rem, 11.625rem, 1.5rem);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background: url('/images/info-portal/info-illustration.svg') no-repeat
        center center;
      width: 18.1875rem;
      height: 100%;
      right: 4.3125rem;
      top: 0;
      background-size: cover;
    }
  }

  &SecondBanner {
    @include infoPortalBanner(16.5625rem, 11.625rem, 1.5rem);
  }

  &SecondBannerContainer {
    padding: 1.5rem 2rem;
  }

  &BannerInfo {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    width: 100%;
    max-width: 22.5rem;
    padding: 2.75rem 0 0 2.75rem;
  }

  &BannerTitle {
    @include boldTitle;
  }

  &BannerSubtitle {
    @include graySubtitle(150%, color.$color-black-deep, 0.7);
  }

  & .projectsTitle {
    @include selectLabel;
  }

  &SecondBannerContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    height: 100%;
  }

  & .projectsStatistic {
    display: flex;
    flex-flow: column nowrap;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 6.0625rem;
      height: 2.75rem;
      background: url('/images/info-portal/statistics.svg') no-repeat center
        center;
      right: 0;
      top: 0.875rem;
    }

    &Subtitle {
      color: color.$color-gray-neutral;
      font-size: size.$font-size-sm;
      margin-top: 0.375rem;
    }
  }

  & .projectsStatisticTitle {
    color: color.$color-black-deep;
    font-size: size.$font-size-6xxl;
    line-height: 107%;
  }

  & .projectsStatisticGrowth {
    font-weight: 600;
    color: color.$color-priority-low;
    font-size: size.$font-size-md;
  }
}

.infoPortalList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;

  &Item {
    @include infoPortalBanner(16.5625rem, 11.625rem, 1.5rem);
    padding: 1.75rem;
  }

  &Info {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }

  &SubInfo {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;

    &Title {
      font-weight: 700;
      font-size: size.$font-size-xl;
      color: color.$color-black-deep;
    }

    &Subtitle {
      color: color.$color-gray-neutral;
      font-size: size.$font-size-md;
    }
  }
}

@include respond-toWidth(large) {
  .infoPortalMain {
    &Banner {
      &::after {
        right: 1rem;
        max-width: 14.1875rem;
      }
      &Info {
        max-width: 20.5rem;
        padding-inline-start: 1.75rem;
      }
    }

    &SecondBanner {
      max-width: 12.5625rem;

      &Container {
        padding: 1.5rem 1rem;
      }
    }
  }
}

@include respond-toWidth(large-medium) {
  .infoPortalMain {
    .infoPortalList {
      gap: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      &Info {
        gap: 1.5rem;
      }

      &Item {
        max-width: 100%;
        cursor: pointer;
        transition: transform 0.2s ease-in 0s;

        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }

  .projectsStatistic {
    &::after {
      max-width: 5.2625rem;
    }
  }
}
