@use "../abstracts/mixins/mixins" as *;
@use "../abstracts/breakpoints/breakpoints" as *;
@use "../base/colors/colors" as color;
@use "../base/globals/globals" as size;

.profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;

  &Title {
    @include navTitle;
    width: fit-content;
  }

  &MainContainer {
    width: 100%;
    height: 100%;
    gap: 1.875rem;
  }

  &Sidebar {
    grid-column: span 3;
    width: 100%;
    max-width: 16.5625rem;
    &Container {
      @include sidebar;
    }
  }

  &SidebarInfo {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1.5rem;
    border-bottom: 0.09375rem solid color.$border-light;
    &EditButton {
      @include closeNotificationButton;
    }

    &EditIcon {
      object-fit: cover;
    }

    &Title {
      color: color.$color-black-deep;
      font-size: size.$font-size-2xl;
      font-weight: 700;
    }
  }

  &SidebarMainInfo {
    padding: 1.75rem 1.4375rem 1.25rem 1.5rem;

    &Heading {
      @include profileSidebarFormTitle;
    }

    &Form {
      display: flex;
      flex-flow: column nowrap;
      margin-block-start: 0.4375rem;

      & .registerLabel {
        min-height: 6.125rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 0.4375rem;
        @include selectLabel;
        position: relative;
      }

      & .registerInput {
        @include input;
        @include inputHover;
      }
    }

    & .inputIcon {
      position: absolute;
      right: 1.125rem;
      top: 2.6625rem;
    }
  }

  &Settings {
    width: 100%;
    height: 100%;
    grid-column: span 9;
    display: flex;
    flex-flow: column;
    gap: 1.3125rem;
  }

  &SettingsButton {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    background: inherit;
    @include boldTitle;
  }

  &SettingsBar {
    @include whiteContainer(16.5625rem);

    &Container {
      padding: 1.4rem 0 0 0;
    }

    &List {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.5rem;
      &Item {
        width: 100%;
        padding: 0 0.75rem 0 0.75rem;
      }
    }

    &ListItemButton {
      width: 100%;
      background: inherit;
      display: flex;
      align-items: center;
      gap: 1rem;
      @include profileListItemButton;
      min-height: 3.25rem;
      display: flex;
      padding: 0 1.125rem;
    }
    & .activeListItem {
      @include activeListItem;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: -0.75rem;
        height: 100%;
        background: color.$background-support-primary;
        width: 0.25rem;
        border-radius: 0.125rem;
      }
    }
  }

  &SettingsNotifications {
    @include whiteContainer(35rem);

    &List {
      @include flexBasicColumn(1rem);
    }

    &Container {
      padding: 2.125rem 2rem;
      @include flexBasicColumn(1.25rem);
    }

    &Heading {
      @include profileSidebarFormTitle;
    }

    & .notificationMain {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 0.875rem;
      background: color.$background-main-light;
      padding: 1rem 1.25rem;
    }

    & .notificationContainer {
      @include flexBasicColumn(0.1875rem);
      & .notificationHeading {
        @include listItemTitle;
        font-weight: 700;
      }
      & .notificationParagraph {
        @include selectLabel;
        font-weight: 600;
      }

      &Button {
        width: 100%;
        max-width: 3.1875rem;
        min-height: 1.9375rem;
        border-radius: 1.125rem;
        background: color.$background-switcher;
        position: relative;
        transition: background 0.5s ease;

        &.active {
          background: color.$background-support-primary;
        }

        &Circle {
          display: inline-block;
          width: 1.4375rem;
          height: 1.4375rem;
          background: color.$color-white-primary;
          border-radius: 100%;
          position: absolute;
          top: 0.25rem;
          left: 0.25rem;
          transition:
            transform 0.3s ease,
            background 0.3s ease;

          &.active {
            transform: translateX(1.25rem);
          }
        }
      }
    }
  }

  & .customCheckboxLabel {
    display: flex;
    align-items: center;
    gap: 0.875rem;
    color: color.$color-black-deep;
    line-height: 150%;
  }

  & .customCheckbox {
    @include customCheckBox;
  }
}

@media (max-width: 83.5625rem) {
  .profile {
    &SidebarInfo {
      &Title {
        font-size: size.$font-size-xxl;
      }

      &EditButton {
        max-width: size.$font-size-4xl;
        max-height: size.$font-size-4xl;
        border-radius: 0.675rem;
      }

      &EditIcon {
        max-width: 1rem;
        max-height: 1rem;
      }
    }

    &SettingsBar {
      max-width: 14.5625rem;
    }
  }

  .notificationContainer {
    padding-inline-end: 0.5rem;
  }
}
