.projects {
  width: 100%;
  min-height: 100vh;
  grid-column: span 12;
  display: flex;
  gap: 30px;

  &Container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
  }
}
