@use '../../../shared/styles/abstracts/mixins/mixins' as *;
@use '../../../shared/styles/base/colors/colors' as color;
@use '../../../shared/styles/base/globals/globals' as size;
@use '../../../shared/styles/abstracts/breakpoints/breakpoints' as *;

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: color.$background-modal-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4.1875rem;
  padding-bottom: 6.6875rem;
  z-index: 100;

  &Container {
    display: flex;
    flex-direction: column;
    @include whiteContainer(100%);
    max-width: 36.5rem;
    margin-top: auto;
    max-height: 51.5rem;
    margin-bottom: auto;
    padding: 1.875rem 3.75rem;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    @include modalCustomScrollBar;
  }

  &Header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 3.6875rem;
    position: relative;
  }

  &HeaderTitle {
    @include boldTitle;
  }

  &HeaderButton {
    @include closeButton;
    position: absolute;
    top: 0;
    right: -1.875rem;
    transition: 0.3s ease-in-out 0s;

    &:hover {
      background: color.$color-gray-light;
    }
  }

  &CloseIcon {
    width: 100%;
    height: 100%;
    max-width: 1.5rem;
    max-height: 1.5rem;
  }

  &BannerImage {
    width: 100%;
    margin-block-start: 1.25rem;
    aspect-ratio: 16 / 9;
    object-fit: contain;
  }

  &HeaderParagraph {
    @include listItem;
    line-height: 150%;
    font-weight: 400;
    width: 100%;
    max-width: 27.1875rem;
    margin-top: 1.875rem;
  }

  & .modalSelect {
    max-width: 100%;
  }

  &Textarea {
    @include customTextarea;
  }

  &TextareaLabel {
    @include flexColumn(0.4375rem);
    margin-block-start: 2.5rem;
    @include selectLabel;
  }

  &SendButton {
    @include Button;
    position: static;
    margin-block-start: 3.1875rem;
    margin-left: auto;

    &:disabled {
      @include disabledButton;
    }
  }

  &SelectLabel {
    margin-block-start: 2rem;
    @include flexColumn(0.4375rem);
    @include selectLabel;
  }
}

@include respond-toHeight(height-medium) {
  .modal {
    padding: 2.5rem;
  }
}
