@use '../../../styles/abstracts/mixins/mixins' as *;
@use '../../../styles/base/colors/colors' as color;
@use '../../../styles/base/globals/globals' as size;
@use '../../../styles/abstracts/breakpoints/breakpoints' as *;

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: color.$background-modal-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 67px;
  padding-bottom: 107px;
  z-index: 100;

  &Container {
    display: flex;
    flex-direction: column;
    @include whiteContainer(100%);
    max-width: 584px;
    margin-top: auto;
    max-height: 824px;
    margin-bottom: auto;
    padding: 30px 60px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 3.5px;
    }

    &::-webkit-scrollbar-thumb {
      background: color.$color-loader-primary;
      opacity: 0.5;
      border-radius: 24px;
      margin-block: 20px;
    }

    &::-webkit-scrollbar-track {
      margin-block: 20px;
    }
  }

  &Header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 59px;
    position: relative;
  }

  &HeaderTitle {
    @include boldTitle;
  }

  &HeaderButton {
    @include closeButton;
    position: absolute;
    top: 0;
    right: -30px;
    transition: 0.3s ease-in-out 0s;

    &:hover {
      background: color.$color-gray-light;
    }
  }

  &CloseIcon {
    width: 100%;
    height: 100%;
    max-width: 24px;
    max-height: 24px;
  }

  &BannerImage {
    margin-block-start: 20px;
  }

  &HeaderParagraph {
    @include listItem;
    line-height: 150%;
    font-weight: 400;
    width: 100%;
    max-width: 435px;
    margin-top: 30px;
  }

  &Textarea {
    width: 100%;
    border: 2.5px solid color.$background-modal-light;
    box-shadow: color.$shadow-modal;
    background: color.$color-white-primary;
    border-radius: 14px;
    min-height: 120px;
    padding: 11px;
    color: color.$color-gray-neutral;
    caret-color: color.$color-gray-neutral;
    resize: none;
    @include inputHover;
    &::placeholder {
      @include selectLabel;
      font-weight: 400;
    }
  }

  &TextareaLabel {
    display: flex;
    flex-flow: column nowrap;
    gap: 7px;
    margin-block-start: 40px;
    @include selectLabel;
  }

  &SendButton {
    @include Button;
    position: static;
    margin-block-start: 51px;
    margin-left: auto;
  }

  &SelectLabel {
    display: flex;
    flex-flow: column nowrap;
    gap: 7px;
    margin-block-start: 32px;
    @include selectLabel;
  }
}

@include respond-toHeight(height-medium) {
  .modal {
    padding: 40px;
  }
}
