@use "../../../styles/abstracts/breakpoints/breakpoints" as *;
@use "../../../styles/abstracts/mixins/mixins" as *;
@use "../../../styles/base/colors/colors" as color;
@use "../../../styles/base/globals/globals" as size;

.sidebarSteps {
  width: 100%;
  max-width: 346px;

  &Container {
    display: flex;
    flex-flow: column nowrap;
    gap: 135px;
    width: 100%;
    max-width: 346px;
    height: 100%;
    border-radius: 24px;
    background: color.$background-support-primary;
    padding: 60px 40px;
  }

  &GetStarted {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &GetStartedTitle {
    @include signInTitle;
    font-size: size.$font-size-4xxl;
  }

  & .stepsList {
    display: flex;
    flex-flow: column nowrap;
    gap: 36px;
  }

  & .stepsListItem {
    font-size: size.$font-size-xl;
    color: rgba(color.$color-white-primary, 0.5);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 21px;
    position: relative;

    &:last-child > .stepsListItemCircle::before {
      content: none;
    }

    &.completed {
      outline: none;
    }

    & .stepsListItemCircle {
      display: inline-block;
      width: 21.5px;
      height: 21.5px;
      border-radius: 50%;
      outline: 2.5px solid rgba(color.$color-white-primary, 0.5);
      position: relative;
      &.completed {
        outline: none;
      }

      &.completed::before {
        background: color.$color-white-primary;
      }
    }

    & .stepsListItemCircle::before {
      content: "";
      position: absolute;
      border-radius: 1px;
      width: 2px;
      height: 26px;
      top: 120%;
      left: 10px;
      background: rgba(color.$color-white-primary, 0.5);
    }

    & .doneIcon {
      position: relative;
      left: 0;
      top: 0;
    }

    &.active {
      & .stepsListItemCircle {
        outline-color: color.$color-white-primary !important;
        background: rgba(color.$color-white-primary, 0.3);

        &::before {
          background: color.$color-white-primary !important;
        }
      }
    }

    &.activeText {
      color: color.$color-white-primary !important;
    }
  }
}
