@use '../../../styles/abstracts/breakpoints/breakpoints' as *;
@use '../../../styles/abstracts/mixins/mixins' as *;
@use '../../../styles/base/colors/colors' as color;
@use '../../../styles/base/globals/globals' as size;

.sidebarSteps {
  width: 100%;
  max-width: 21.625rem;

  &Container {
    display: flex;
    flex-flow: column nowrap;
    gap: 8.4375rem;
    width: 100%;
    max-width: 21.625rem;
    height: 100%;
    border-radius: 1.5rem;
    background: color.$background-support-primary;
    padding: 3.75rem 2.5rem;
  }

  &GetStarted {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
  }

  &GetStartedTitle {
    @include signInTitle;
    font-size: size.$font-size-4xxl;
  }

  & .stepsList {
    display: flex;
    flex-flow: column nowrap;
    gap: 2.25rem;
  }

  & .stepsListItem {
    font-size: size.$font-size-xl;
    color: rgba(color.$color-white-primary, 0.5);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 1.3125rem;
    position: relative;

    &.firstStepActive {
      color: color.$color-white-primary;

      .stepsListItemCircle {
        outline-color: color.$color-white-primary;
        background: rgba(color.$color-white-primary, 0.4);

        &::before {
          background: color.$color-white-primary;
        }
      }
    }

    &:last-child > .stepsListItemCircle::before {
      content: none;
    }

    &.completed {
      outline: none;
    }

    & .stepsListItemCircle {
      display: inline-block;
      width: 1.34375rem;
      height: 1.34375rem;
      border-radius: 50%;
      outline: 0.15625rem solid rgba(color.$color-white-primary, 0.5);
      position: relative;
      &.completed {
        outline: none;
      }

      &.completed::before {
        background: color.$color-white-primary;
      }
    }

    & .stepsListItemCircle::before {
      content: '';
      position: absolute;
      border-radius: 0.0625rem;
      width: 0.125rem;
      height: 1.625rem;
      top: 120%;
      left: 0.625rem;
      background: rgba(color.$color-white-primary, 0.5);
    }

    & .doneIcon {
      position: relative;
      left: 0;
      top: 0;
    }

    &.active {
      & .stepsListItemCircle {
        outline-color: color.$color-white-primary !important;
        background: rgba(color.$color-white-primary, 0.3);

        &::before {
          background: color.$color-white-primary !important;
        }
      }
    }

    &.activeText {
      color: color.$color-white-primary !important;
    }
  }
}

@include respond-toWidth(large-medium) {
  .sidebarStepsContainer {
    gap: 3.4375rem;
  }
}
