@use '../../../styles/abstracts/mixins/mixins' as *;
@use '../../../styles/base/colors/colors' as color;
@use '../../../styles/base/globals/globals' as size;

.header {
  width: 100%;
  grid-column: span 12;
  height: auto;

  &Container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &SearchContainer {
    width: 100%;
  }

  &SearchInput {
    @include input;
    @include inputHover;
    border: 1.5px solid transparent;

    &::placeholder {
      @include listItem;
      font-weight: 400;
    }
  }

  &ButtonsContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
  }

  &Notification {
    @include menuButton;
  }

  &SignInButton {
    @include menuButton;
  }

  &UserLogout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 160px;
    position: relative;
  }

  &UserLoginButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    @include whiteContainer(160px);
  }

  &UserLoginBanner {
    padding: 11px 12px;
    @include boldTitle;
    font-size: size.$font-size-md;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 13px;
    position: relative;

    & #rotateIconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > .rotateIcon {
      transition: transform 0.3s ease;
      display: inline-block;
    }

    & > .rotateIcon svg {
      transition: transform 0.3s ease;
      transform-origin: center;
      transform: rotate(0deg);
    }

    & > .rotateIcon.rotate {
      transform: rotate(180deg);
    }
  }

  &UserLoginMenu {
    position: absolute;
    width: 100%;
    max-width: 100%;
    min-height: 48px;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
  }

  &LogoutButton {
    @include Button;
    position: absolute;
    top: 0;

    &::before {
      content: '';
      position: absolute;
      top: -16px;
      left: 50%;
      transform: translateX(-50%);
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent color.$background-support-primary
        transparent;
      width: 0;
      height: 0;
      z-index: -10;
    }
  }
}
