@use '../../../styles/abstracts/mixins/mixins' as *;
@use '../../../styles/base/colors/colors' as color;
@use '../../../styles/base/globals/globals' as size;

.header {
  width: 100%;
  grid-column: span 12;
  height: 3rem;
  position: relative;

  &Container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &SearchContainer {
    width: 100%;
  }

  &SearchInput {
    @include input;
    @include inputHover;
    border: 0.09375rem solid transparent;

    &::placeholder {
      @include listItem;
      font-weight: 400;
    }
  }

  &ButtonsContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.9375rem;
  }

  &Notification {
    @include menuButton;
  }

  &SignInButton {
    @include menuButton;
  }

  &UserLogout {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    max-width: 10rem;
    position: relative;
  }

  &UserLoginButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3rem;
    @include whiteContainer(10rem);
  }

  &UserLoginBanner {
    padding: 0.6875rem 0.75rem;
    @include boldTitle;
    font-size: size.$font-size-md;
    border-radius: 0.875rem;
    display: flex;
    align-items: center;
    gap: 0.8125rem;
    position: relative;

    & #rotateIconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > .rotateIcon {
      transition: transform 0.3s ease;
      display: inline-block;
    }

    & > .rotateIcon svg {
      transition: transform 0.3s ease;
      transform-origin: center;
      transform: rotate(0deg);
    }

    & > .rotateIcon.rotate {
      transform: rotate(180deg);
    }
  }

  .dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: color.$color-white-primary;
    box-shadow: color.$shadow-box-light;
    width: 100%;
    margin-top: 0.625rem;
    z-index: 100;
    border-radius: 0.875rem;
    padding: 0.625rem 0;

    &::before {
      content: '';
      position: absolute;
      top: -0.6875rem;
      right: 1rem;
      border-width: 0.40625rem;
      border-style: solid;
      border-color: transparent transparent color.$color-white-primary
        transparent;
      z-index: 110;
    }
  }

  .dropdownItem {
    width: 100%;
    padding: 0.625rem 1.25rem;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-weight: 500;
    font-size: size.$font-size-lg;
    cursor: pointer;
    border: none;
    background: none;
    color: color.$color-black-deep;
    transition: all 0.3s ease;

    &:hover {
      background-color: color.$background-main-light;
      color: color.$background-support-hover;
    }
  }

  & .profileLink {
    color: inherit;
  }

  &UserLoginMenu {
    position: absolute;
    width: 100%;
    max-width: 100%;
    min-height: 3rem;
    top: 4.0625rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &LogoutButton {
    @include Button;
    position: absolute;
    top: 0;

    &::before {
      content: '';
      position: absolute;
      top: -1rem;
      left: 50%;
      transform: translateX(-50%);
      border-width: 0.625rem;
      border-style: solid;
      border-color: transparent transparent color.$background-support-primary
        transparent;
      width: 0;
      height: 0;
      z-index: -10;
    }
  }
}
