@use '../../../shared/styles/abstracts/mixins/mixins' as *;
@use '../../../shared/styles/base/colors/colors' as color;
@use '../../../shared/styles/base/globals/globals' as size;
@use '../../../shared/styles/abstracts/breakpoints/breakpoints' as *;

.infoPortalMain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.875rem;

  &Container {
    width: 100%;
    container-type: inline-size;
    container-name: portalMainContainer;
  }

  &Banner {
    @include infoPortalBanner(53.4375rem, 11.625rem, 1.5rem);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background: url('/images/info-portal/info-illustration.svg') no-repeat center center;
      width: 18.1875rem;
      height: 100%;
      right: 4.3125rem;
      top: 0;
      background-size: cover;
    }
  }

  &SecondBanner {
    @include infoPortalBanner(16.5625rem, 11.625rem, 1.5rem);
  }

  &SecondBannerContainer {
    padding: 1.5rem 2rem;
  }

  &BannerInfo {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    width: 100%;
    max-width: 22.5rem;
    padding: 2.75rem 0 0 2.75rem;
  }

  &BannerTitle {
    @include boldTitle;
  }

  &BannerSubtitle {
    @include graySubtitle(150%, color.$color-black-deep, 0.7);
  }

  & .projectsTitle {
    @include selectLabel;
  }

  &SecondBannerContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
    height: 100%;
  }

  & .projectsStatistic {
    display: flex;
    flex-flow: column nowrap;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 6.0625rem;
      height: 2.75rem;
      background: url('/images/info-portal/statistics.svg') no-repeat center center;
      right: 0;
      top: 0.875rem;
    }

    &Subtitle {
      color: color.$color-gray-neutral;
      font-size: size.$font-size-sm;
      margin-top: 0.375rem;
    }
  }

  & .projectsStatisticTitle {
    color: color.$color-black-deep;
    font-size: size.$font-size-6xxl;
    line-height: 107%;
  }

  & .projectsStatisticGrowth {
    font-weight: 600;
    color: color.$color-priority-low;
    font-size: size.$font-size-md;
  }
}

.infoPortalList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.875rem;

  &Item {
    @include infoPortalBanner(16.5625rem, 11.625rem, 1.5rem);
    padding: 1.75rem;
  }

  &Info {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
  }

  &SubInfo {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;

    &Title {
      font-weight: 700;
      font-size: size.$font-size-xl;
      color: color.$color-black-deep;
    }

    &Subtitle {
      color: color.$color-gray-neutral;
      font-size: size.$font-size-md;
    }
  }
}

@media (max-width: 79.375rem) {
  .infoPortalList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &Item {
      max-width: 100%;
    }
  }

  .infoPortalMainBanner {
    &Title {
      font-size: size.$font-size-xl;
    }

    &Subtitle {
      max-width: calc(100% - 20%);
    }
  }

  .infoPortalMainBannerInfo {
    max-width: 20.5rem;
    padding-block-start: 1.7rem;
    position: relative;
    z-index: 100;
  }

  .infoPortalMainBanner::after {
    max-width: 15.1875rem;
    right: 2.3125rem;
  }

  .infoPortalMainSecondBanner {
    max-width: 13.5625rem;
  }

  .infoPortalMainSecondBannerContainer {
    padding-inline: 1rem;
  }
}

@media (max-width: 64rem) {
  .infoPortalMainContainer {
    flex-direction: column;
  }

  .infoPortalMainSecondBanner {
    max-width: 100%;
  }
}
