@use '../../../styles/abstracts/mixins/mixins' as *;
@use '../../../styles/base/colors/colors' as color;
@use '../../../styles/base/globals/globals' as size;

.tasksNav {
  width: 100%;
  &Container {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Title {
    @include boldTitle;
  }

  &List {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &ListButton {
    @include tasksNavButton;
  }

  & .active {
    border: 1.5px solid color.$background-support-primary;
  }

  &NotificationsButton {
    @include tasksNavButton;
  }
}
