@use '../../base/colors/colors' as color;
@use '../../base/globals/globals' as size;

@mixin BoundingBox {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@mixin listItem {
  color: color.$color-gray-neutral;
  font-size: size.$font-size-lg;
  font-weight: 600;
}

@mixin Button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  max-width: 129px;
  min-height: 48px;
  position: absolute;
  bottom: 26px;
  left: 19px;
  background: color.$background-support-primary;
  box-shadow: color.$shadow-box-support;
  font-size: size.$font-size-lg;
  color: color.$color-white-primary;
  border-radius: 14px;
  font-weight: 700;

  transition: background 0.5s ease-in-out 0s;
  &:hover {
    background: color.$background-support-hover;
  }

  &:active {
    background: color.$background-support-active;
  }
}

@mixin disabledButton {
  font-weight: 900;
  box-shadow: none;
  background: color.$background-switcher;
  cursor: not-allowed;
}

@mixin menuButton {
  width: 48px;
  height: 48px;
  border-radius: 14px;
  background: color.$color-white-primary;
  box-shadow: color.$shadow-box-light;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin title($min-height: $min-height) {
  color: color.$color-black-deep;
  font-size: size.$font-size-4xl;
  font-weight: 700;
  min-height: $min-height;
}

@mixin whiteContainer($max-width: $max-width) {
  width: 100%;
  height: 100%;
  max-width: $max-width;
  background: color.$color-white-primary;
  box-shadow: color.$shadow-box-light;
  border-radius: 24px;
}

@mixin containerPadding {
  padding: 28px 20px 16px 30px;
}

@mixin boldTitle {
  font-size: size.$font-size-2xl;
  color: color.$color-black-deep;
  font-weight: 700;
}

@mixin viewLink {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: size.$font-size-lg;
  color: color.$background-support-primary;
  font-weight: 600;
  position: relative;

  transition: color 0.5s ease-in-out 0s;
  &:hover {
    color: color.$background-support-hover;
  }

  &:active {
    color: color.$background-support-active;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background: color.$background-support-primary;
    border-radius: 1px;
    transition:
      width 0.5s ease-in-out,
      left 0.5s ease-in-out;
    transform: translateX(-50%);
  }

  &:hover::before {
    width: 100%;
    left: 50%;
  }
}

@mixin closeButton {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: color.$background-main-light;
}

@mixin selectLabel {
  font-size: size.$font-size-md;
  color: color.$color-gray-neutral;
  font-weight: 700;
  line-height: 171%;
}

@mixin select {
  width: 100%;
  max-width: 464px;
  border-radius: 19px;
  min-height: 49px;
  border: 1.5px solid color.$background-modal-light;
  box-shadow: color.$shadow-modal;
  background: color.$color-white-primary;
  margin: 0;
  padding-inline-start: 18px;
  appearance: none;
  @include selectLabel;
  font-weight: 400;
}

@mixin inputHover {
  transition: border-color 0.3s ease-in-out;
  &:hover {
    border-color: rgba(color.$background-support-hover, 0.5);
  }
  &:focus {
    border-color: color.$background-support-hover;
    outline: 3px solid rgba(color.$background-support-primary, 0.12);
  }
}

@mixin signInTitle {
  font-weight: 700;
  color: color.$color-white-primary;
  font-size: size.$font-size-3xl;
}

@mixin signInSubtitle($max-width: $max-width) {
  width: 100%;
  font-weight: 700;
  line-height: 140%;
  max-width: $max-width;
  color: color.$color-white-primary;
  font-size: size.$font-size-5xl;
}

@mixin label {
  width: 100%;
  max-width: 403px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

@mixin input {
  width: 100%;
  max-width: 403px;
  border-radius: 14px;
  border: 2px solid color.$background-modal-light;
  background: color.$color-white-primary;
  box-shadow: color.$shadow-modal;
  height: 48px;
  padding-inline: 18px;
  color: color.$color-gray-neutral;
  caret-color: color.$color-gray-light;
  font-size: size.$font-size-md;
}

@mixin rememberLabel {
  color: color.$color-gray-neutral;
  font-size: size.$font-size-lg;
  font-weight: 400;
}

@mixin checkboxInput($width: $width, $height: $height) {
  appearance: none;
  width: $width;
  height: $width;
  border: 2.3px solid color.$color-black-deep;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}

@mixin accountButton {
  font-size: size.$font-size-lg;
  font-weight: 400;
  background: inherit;
}

@mixin stepsTitleFigures {
  text-transform: uppercase;
  color: color.$background-support-primary;
  font-size: size.$font-size-md;
  font-weight: 700;
}

@mixin sentMessageTitle {
  font-weight: 600;
  color: color.$background-support-primary;
  font-size: size.$font-size-md;
  line-height: 157%;
}

@mixin confirmationButton {
  width: 100%;
  max-width: 58px;
  height: 49px;
  border-radius: 14px;
  border: 1px solid color.$background-modal-light;
  box-shadow: color.$shadow-modal;
  background: color.$color-white-primary;
}

@mixin serviceDetailButton {
  border: 2px solid color.$background-modal-light;
  border-radius: 10px;
  width: 100%;
  max-width: 89px;
  min-height: 48px;
  background: color.$color-white-primary;
  box-shadow: color.$shadow-box-light;
}

@mixin updatedContainer {
  width: 100%;
  max-width: 291px;
  min-height: 78px;
  border-radius: 14px;
  background: color.$background-main-light;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}

@mixin updatedTitle {
  width: 100%;
  max-width: 200px;
  line-height: 150%;
  color: color.$color-black-deep;
}

@mixin navTitle {
  font-size: size.$font-size-4xxl;
  color: color.$color-black-deep;
  font-weight: 700;
}

@mixin closeNotificationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 14px;
  background: color.$background-main-light;
}

@mixin sidebar {
  width: 100%;
  height: 100vh;
  max-width: 265px;
  border-radius: 24px;
  background: color.$color-white-primary;
  box-shadow: color.$shadow-box-light;
}

@mixin listItemTitle {
  line-height: 150%;
  color: color.$color-black-deep;
}

@mixin listItemCode {
  color: color.$color-gray-secondary;
  font-size: size.$font-size-sm;
}
