@use '../../base/colors/colors' as color;
@use '../../base/globals/globals' as size;

@mixin BoundingBox {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
}

@mixin listItem {
  color: color.$color-gray-neutral;
  font-size: size.$font-size-lg;
  font-weight: 600;
}

@mixin Button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  max-width: 8.0625rem;
  min-height: 3rem;
  position: absolute;
  bottom: 1.625rem;
  left: 1.1875rem;
  background: color.$background-support-primary;
  box-shadow: color.$shadow-box-support;
  font-size: size.$font-size-lg;
  color: color.$color-white-primary;
  border-radius: 0.875rem;
  font-weight: 700;

  transition: background 0.5s ease-in-out 0s;
  &:hover {
    background: color.$background-support-hover;
  }

  &:active {
    background: color.$background-support-active;
  }
}

@mixin disabledButton {
  font-weight: 900;
  box-shadow: none;
  background: color.$background-switcher;
  cursor: not-allowed;
}

@mixin menuButton {
  width: 3rem;
  height: 3rem;
  border-radius: 0.875rem;
  background: color.$color-white-primary;
  box-shadow: color.$shadow-box-light;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin title($min-height: $min-height) {
  color: color.$color-black-deep;
  font-size: size.$font-size-4xl;
  font-weight: 700;
  min-height: $min-height;
}

@mixin whiteContainer($max-width: $max-width) {
  width: 100%;
  height: 100%;
  max-width: $max-width;
  background: color.$color-white-primary;
  box-shadow: color.$shadow-box-light;
  border-radius: 1.5rem;
}

@mixin containerPadding {
  padding: 1.75rem 1.125rem 1rem 1.875rem;
}

@mixin boldTitle {
  font-size: size.$font-size-2xl;
  color: color.$color-black-deep;
  font-weight: 700;
}

@mixin viewLink {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  font-size: size.$font-size-lg;
  color: color.$background-support-primary;
  font-weight: 600;
  position: relative;

  transition: color 0.5s ease-in-out 0s;
  &:hover {
    color: color.$background-support-hover;
  }

  &:active {
    color: color.$background-support-active;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 0.125rem;
    background: color.$background-support-primary;
    border-radius: 0.0625rem;
    transition:
      width 0.5s ease-in-out,
      left 0.5s ease-in-out;
    transform: translateX(-50%);
  }

  &:hover::before {
    width: 100%;
    left: 50%;
  }
}

@mixin closeButton {
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.875rem;
  background: color.$background-main-light;
}

@mixin selectLabel {
  font-size: size.$font-size-md;
  color: color.$color-gray-neutral;
  font-weight: 700;
  line-height: 171%;
}

@mixin select {
  width: 100%;
  max-width: 29rem;
  border-radius: 1.1875rem;
  min-height: 3.0625rem;
  border: 0.09375rem solid color.$background-modal-light;
  box-shadow: color.$shadow-modal;
  background: color.$color-white-primary;
  margin: 0;
  padding-inline-start: 1.125rem;
  appearance: none;
  @include selectLabel;
  font-weight: 400;
}

@mixin inputHover {
  transition: border-color 0.3s ease-in-out;
  &:hover {
    border-color: rgba(color.$background-support-hover, 0.5);
  }
  &:focus {
    border-color: color.$background-support-hover;
    outline: 0.1875rem solid rgba(color.$background-support-primary, 0.12);
  }
}

@mixin signInTitle {
  font-weight: 700;
  color: color.$color-white-primary;
  font-size: size.$font-size-3xl;
}

@mixin signInSubtitle($max-width: $max-width) {
  width: 100%;
  font-weight: 700;
  line-height: 140%;
  max-width: $max-width;
  color: color.$color-white-primary;
  font-size: size.$font-size-5xl;
}

@mixin label {
  width: 100%;
  max-width: 25.1875rem;
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}

@mixin input {
  width: 100%;
  max-width: 25.1875rem;
  border-radius: 0.875rem;
  border: 0.125rem solid color.$background-modal-light;
  background: color.$color-white-primary;
  box-shadow: color.$shadow-modal;
  height: 3rem;
  padding-inline: 1.125rem;
  color: color.$color-gray-neutral;
  caret-color: color.$color-gray-light;
  font-size: size.$font-size-md;
}

@mixin rememberLabel {
  color: color.$color-gray-neutral;
  font-size: size.$font-size-lg;
  font-weight: 400;
}

@mixin checkboxInput($width: $width, $height: $height) {
  appearance: none;
  width: $width;
  height: $width;
  border: 0.14375rem solid color.$color-black-deep;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  position: relative;
}

@mixin accountButton {
  font-size: size.$font-size-lg;
  font-weight: 400;
  background: inherit;
}

@mixin stepsTitleFigures {
  text-transform: uppercase;
  color: color.$background-support-primary;
  font-size: size.$font-size-md;
  font-weight: 700;
}

@mixin sentMessageTitle {
  font-weight: 600;
  color: color.$background-support-primary;
  font-size: size.$font-size-md;
  line-height: 157%;
}

@mixin confirmationButton {
  width: 100%;
  max-width: 3.625rem;
  height: 3.0625rem;
  border-radius: 0.875rem;
  border: 1px solid color.$background-modal-light;
  box-shadow: color.$shadow-modal;
  background: color.$color-white-primary;
}

@mixin serviceDetailButton {
  border: 2px solid color.$background-modal-light;
  border-radius: 0.625rem;
  width: 100%;
  max-width: 5.5625rem;
  min-height: 3rem;
  background: color.$color-white-primary;
  box-shadow: color.$shadow-box-light;
}

@mixin updatedContainer {
  width: 100%;
  max-width: 18.1875rem;
  min-height: 4.875rem;
  border-radius: 0.875rem;
  background: color.$background-main-light;
  padding: 0.9375rem 1.25rem;
  display: flex;
  align-items: center;
  gap: 16px;
}

@mixin updatedTitle {
  width: 100%;
  max-width: 12.5rem;
  line-height: 150%;
  color: color.$color-black-deep;
}

@mixin navTitle {
  font-size: size.$font-size-4xxl;
  color: color.$color-black-deep;
  font-weight: 700;
}

@mixin closeNotificationButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 0.875rem;
  background: color.$background-main-light;
}

@mixin sidebar {
  width: 100%;
  height: 100%;
  max-width: 16.5625rem;
  border-radius: 1.5rem;
  background: color.$color-white-primary;
  box-shadow: color.$shadow-box-light;
}

@mixin listItemTitle {
  line-height: 150%;
  color: color.$color-black-deep;
}

@mixin listItemCode {
  color: color.$color-gray-secondary;
  font-size: size.$font-size-sm;
  font-weight: 400;
}

@mixin tasksNavButton {
  width: 3rem;
  height: 3rem;
  border-radius: 0.875rem;
  background: color.$color-white-primary;
  box-shadow: color.$shadow-box-light;
}

@mixin infoPortalBanner(
  $maxWidth: $maxWidth,
  $height: $height,
  $borderRadius: $borderRadius
) {
  width: 100%;
  max-width: $maxWidth;
  height: $height;
  border-radius: $borderRadius;
  background: color.$color-white-primary;
  box-shadow: color.$shadow-box-light;
}

@mixin graySubtitle(
  $lineHeight: $lineHeight,
  $color: $color,
  $opacity: $opacity
) {
  font-size: size.$font-size-lg;
  line-height: $lineHeight;
  color: $color;
  opacity: $opacity;
}

@mixin tasksHeading($height: $height) {
  width: 100%;
  height: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.875rem;
  background: color.$color-gray-light;
  font-weight: 700;
  color: color.$color-black-deep;
}

@mixin tasksBoardHeading {
  font-weight: 700;
  color: color.$color-black-deep;
  font-size: size.$font-size-lg;
}

@mixin flexColumn($gap: $gap) {
  display: flex;
  flex-flow: column nowrap;
  gap: $gap;
}

@mixin modalCustomScrollBar {
  &::-webkit-scrollbar {
    width: 0.21875rem;
  }

  &::-webkit-scrollbar-thumb {
    background: color.$color-loader-primary;
    opacity: 0.5;
    border-radius: 1.5rem;
    margin-block: 1.25rem;
  }

  &::-webkit-scrollbar-track {
    margin-block: 1.25rem;
  }
}

@mixin customTextarea {
  width: 100%;
  border: 0.15625rem solid color.$background-modal-light;
  box-shadow: color.$shadow-modal;
  background: color.$color-white-primary;
  border-radius: 0.875rem;
  min-height: 7.5rem;
  padding: 0.6875rem;
  color: color.$color-gray-neutral;
  caret-color: color.$color-gray-neutral;
  resize: none;
  @include inputHover;
  &::placeholder {
    @include selectLabel;
    font-weight: 400;
  }
}

@mixin flexBasicColumn($gap: $gap) {
  display: flex;
  flex-flow: column nowrap;
  gap: $gap;
}

@mixin profileSidebarFormTitle {
  color: color.$color-black-deep;
  font-size: size.$font-size-xl;
  font-weight: 700;
  line-height: 144%;
}

@mixin profileListItemButton {
  color: color.$color-gray-neutral;
  font-size: size.$font-size-lg;
  font-weight: 600;
}

@mixin activeListItem {
  width: 100%;
  max-width: 15.3125rem;
  border-radius: 0.875rem;
  min-height: 3.25rem;
  color: color.$color-black-deep;
  background: color.$background-main-light;
  padding: 0 1.125rem;
}

@mixin customCheckBox {
  @include checkboxInput(1.25rem, 1.25rem);
  position: relative;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;

  &:checked {
    background-color: color.$color-white-primary;

    &::after {
      content: '';
      position: absolute;
      top: 39.5%;
      left: 51%;
      transform: translate(-50%, -50%) rotate(43deg);
      width: 0.4rem;
      height: 0.7375rem;
      border: solid color.$background-support-primary;
      border-width: 0 0.125rem 0.125rem 0;
      display: block;
      border-radius: 0.03125rem;
      transition:
        transform 0.3s ease,
        width 0.2s ease,
        height 0.2s ease;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%) rotate(0deg);
    border: solid transparent;
    border-width: 0 0 0 0;
    transition:
      transform 0.3s ease,
      width 0.3s ease,
      height 0.3s ease;
  }
}

@mixin taskBarListItem {
  font-size: size.$font-size-md;
  color: color.$color-black-deep;
  line-height: 150%;
}

@mixin calendarDay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.4375rem;
  background: color.$background-main-light;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 138%;
  color: color.$color-gray-neutral;
}
