@use '../../../styles/abstracts/breakpoints/breakpoints' as *;
@use '../../../styles/abstracts/mixins/mixins' as *;
@use '../../../styles/base/colors/colors' as color;
@use '../../../styles/base/globals/globals' as size;

.multiSteps {
  width: 100%;

  &Container {
    display: flex;
    flex-flow: column nowrap;
    gap: 1.875rem;
    width: 100%;
    @include whiteContainer(100%);
  }

  & .stepForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
    width: 100%;
    flex: 1 1 auto;
  }

  & .stepFormHeader {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 0.375rem;
    padding-block-start: 4.6875rem;
  }

  & .stepFormHeader > .stepFormHeaderStepsFigures {
    @include stepsTitleFigures;
  }

  & .stepFormHeader > .stepFormHeaderTitle {
    @include boldTitle;
  }

  & .signInFormBlockInputContainer {
    @include label;
    height: 6.125rem;
    position: relative;
  }

  & .signInFormBlockInput {
    @include input;
    @include inputHover;
    font-weight: 500;
  }

  & .signInFormBlockPhoneInputContainer {
    max-width: 14.0625rem;
  }

  & .signInFormBlockViewIcon {
    position: absolute;
    bottom: 1.9375rem;
    right: 1.125rem;
    cursor: pointer;
  }

  & .signInFormBlockLabel {
    @include selectLabel;
  }

  & .containerFields {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.625rem;
    flex-direction: column;
  }

  & .sendCodeButton {
    @include Button;
    position: static;
    max-width: 12.5rem;
    &:disabled {
      @include disabledButton;
    }
  }

  & .stepFormSubmittedMessageBlock {
    display: flex;
    padding: 1.25rem;
    width: 100%;
    max-width: 27.875rem;
    height: 5.5rem;
    border-radius: 0.875rem;
    background: color.$background-main-light;
  }

  & .multiMessageBlock {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    padding-block-start: 1rem;
  }

  & .multiMessageLabelContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.375rem;
    height: 6.375rem;
  }

  & .multiMessageLabel {
    @include selectLabel;
  }

  & .multiMessageButtonsContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & .stepFormSubmittedMessage {
    @include sentMessageTitle;
    display: flex;
    gap: 0.625rem;
  }

  & .stepFormMain {
    width: 100%;
    flex: 1 1 auto;
  }

  & .multiStepsFooter {
    width: 100%;
    height: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 2.5625rem;
    border-top: 1.5px solid color.$border-light;
  }

  & .multiStepsNextButton {
    @include Button;
    position: static;
    max-width: 9.0625rem;

    &:disabled {
      @include disabledButton;
    }
  }

  & .multiMessageConfirmationButton {
    @include confirmationButton;
    @include selectLabel;
    font-weight: 700;
    font-size: size.$font-size-lg;
    text-align: center;
    @include inputHover;
    border-width: 0.125rem;
  }

  & .phoneInputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 25.375rem;
  }
}
